@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: 'Gilroy', sans-serif; */
  font-family: "Rowdies", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --color-text: #C79C71;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/MTD\ Gilroy\ Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VNGGame';
  src: url('/fonts/FZ-VNG-Game-V1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Cafeta';
  src: url('/fonts/UTM Cafeta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-cafeta {
  font-family: 'Cafeta', sans-serif;
}

.font-title {
  font-family: 'VNGGame', sans-serif;
}